/*
    Services section styles
*/

.service {
    height: 450px;
}
.learn-btn {
    position: absolute;
    bottom:16px;
}

/*
    Instagram feed styles
*/
.tempIG {
    width: 300px;
    height: 400px;
}

/*
    Contact section styles
*/
.socialLink {
    text-decoration: none;
}
.socials {
    color: var(--pink) !important;
}