/*
    Services section styles
*/
.row>* {
    padding-right: 0%;
    padding-left: 0%;
}
.card {
    height: 450px;
}
.learn-btn {
    position: absolute;
    bottom:16px;
}

/*
    Instagram feed styles
*/
.tempIG {
    width: 300px;
    height: 400px;
}

/*
    Contact section styles
*/
.contactTextColor {
    color: var(--white);
}
.day {
    text-align: right;
    padding-right: 20px;
}
.hours {
    text-align: left;
    padding-left: 20px;
}
.socialLink {
    text-decoration: none;
}
.socials {
    color: var(--pink) !important;
}




